<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119412025064-2mcp1rn643oosnomak9f302sk2p7d4dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119412025064-2mcp1rn643oosnomak9f302sk2p7d4dm</string>
	<key>API_KEY</key>
	<string>AIzaSyCmogx0UmMHZr57TlR8bHf_HUFS1mVG98Y</string>
	<key>GCM_SENDER_ID</key>
	<string>119412025064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leek</string>
	<key>PROJECT_ID</key>
	<string>leek-1ef08</string>
	<key>STORAGE_BUCKET</key>
	<string>leek-1ef08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119412025064:ios:3202223964fa97c7f30b5d</string>
	<key>DATABASE_URL</key>
	<string>https://leek-1ef08-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>